:root {
  --blue-light: #2A59B9;
  --blue-dark: #033495;
  --blue-disabled: #03349585;
  
  --grey: #BCBCBC;
  --black: #000000;
  --white: #FFFFFF;

  --bg-grey: #eeeeee;
}

* {
  font-size: 18px;
  font-weight: '400';
  font-family: Arimo, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  /* Remove default button styles */
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}


body {
  margin: 0;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
}

form {
  margin-top: 5rem;
  box-sizing: border-box;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px 30px;
  gap: 25px;
  max-width: 350px;
  box-shadow: rgba(35, 0, 60, 0.1) 0px 15px 20px;
}

label {
  font-weight: 550;
}

input { 
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  border-color: transparent;
  outline-color: var(--grey);
  outline-style: solid;
  outline-width: 1px;
}
input::placeholder {
  color: var(--grey);
}
input:hover {
  border-color: transparent;
  outline-color: var(--blue-light);
  outline-style: solid;
  outline-width: 2px;
}
input:focus {
  border-color: transparent;
  outline: var(--blue-dark);
  outline-style: solid;
  outline-width: 2px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 15px;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--blue-light);
  font-weight: 550;
}
button:hover {
  background-color: var(--blue-dark);
}
button:disabled {
  background-color: var(--blue-disabled);
}

.legend {
  margin-top: -7px;
  font-size: 14px;
  color: var(--grey);
  display: block;
}

h2 {
  margin: 0;
  font-weight: 550;
  font-size: 24px;
  margin-bottom: 10px;
}

section {
  margin-top: 42px;
}

article {
  padding: 10px 0;
  display: flex;
  gap: 30px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loader img {
  position: absolute;
  right: 5px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
